APP_ENV=development
AWS_REGION=ap-southeast-1
DATABASE_URL=sqlite:///./quant-scope.db

AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
S3_BUCKET_NAME=quantscope-data-dev-xxxx